body {
	background-color: white;
 
  text-align: center;
}

#roue{
	display: inline-block;
	width:50%;
	height:50%;
	transition: transform 10s 
	cubic-bezier(.5,.1,.15,.1);
	transform: rotate(0deg);
	z-index:1;
	pointer-events: none;
}

#fleche{
	position: absolute;
    left: 50%;
	display: block;
	width:5%;
	height: auto;
 z-index: 2
}

#bouton:hover,#bouton:focus{
	background-color: darkblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  z-index: 2
}
